.mural-body {
    overflow-y: auto; /* Permite scroll nesta página */
    background: #0f0f0f;
}

.mural-container {
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

.mural-header h1 {
    font-family: 'Courier Prime', monospace;
    color: var(--primary-pink);
    margin-bottom: 5px;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 25px;
    margin-top: 40px;
}

.photo-card {
    background: white;
    padding: 10px 10px 25px 10px;
    box-shadow: 10px 10px 0px rgba(0,0,0,0.5);
    transform: rotate(var(--rot));
    transition: 0.3s ease;
}

.photo-card:hover {
    transform: rotate(0deg) scale(1.05);
    z-index: 5;
}

.photo-card img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    image-rendering: pixelated; /* Mantém o estilo 8-bit */
}

.photo-card span {
    color: #333;
    font-size: 0.8rem;
    font-family: 'Courier Prime', monospace;
    display: block;
    margin-top: 10px;
}

.mural-nav { padding: 20px; }
